*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1140px;
  block-size: 534px;
  box-sizing: border-box;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  padding-top: 344px;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  display: flex;
  flex-direction: row;
  /*box-sizing: border-box;*/
  inline-size: 100%;
  
  padding: 133px 30px;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  

}

.result{  /*левая часть*/
  display: flex;
  flex-direction: column;
  /*width: 200%;*/
  padding-bottom: 69px;
  flex: 150;
  row-gap: 16px;
}

.result__video-container{
  box-sizing: border-box;
  width: 711px;
  height: 418px;
  object-fit: cover;
  object-position: center;
  display: flex;
  padding-top: 30px;
}
.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  
}




.search-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title{
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

}


/*правая сторона*/
.content__details{
  block-size: 100%;
  inline-size: 399px;
  /*align-items: stretch;*/
  flex: 0;
  padding-bottom: 98px;
}



.content__accent{
  color: #545050;

  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase;

}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  block-size: 298px;
  overflow-y: scroll;
}
