*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1140px;
  block-size: 100%;
  box-sizing: border-box;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  justify-content: center;
  align-items: flex-end;
  column-gap: 30px;
}

/*левая часть*/

.result {  
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.result__video-container {
  position: relative;
  box-sizing: border-box;
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
  display: flex; 
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
  block-size: 50px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:hover > .search-form__label-text {
  border-bottom: solid white 1px;
}

.search-form__textfield{
  cursor: text;
  appearance: none;
  inline-size: 224px;
  padding: 2px;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:active {
  border-left: 1px solid #8b0808;
  outline-offset: -1px;
}

.search-form__textfield:focus {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}     

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 14px; 
}     

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid white;
  padding: 1px;
  margin-inline-end: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  block-size: 15px;
  inline-size: 15px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border: 1px solid ;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
  block-size: 35px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  outline: none;
}

.button:focus {
  outline: 1px solid #FFF;
  outline-offset: 1px;      
}     

.more-button {
  inline-size: 399px;
  block-size: 34px;
  justify-content: center;
  align-items: center;
}

/*правая сторона*/

.content__details {
  block-size: 100%;
  inline-size: 399px;
}

.title {
  display: block;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.content__accent{
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__card-link {
  display: block;
  text-decoration: none; 
  color: #fff;
  margin: 2px;  
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__list-item:not(:last-child) {
  margin-block-end: 8px;
} 

.content__video-card {
  display: flex;
  align-items: flex-start;
  block-size: 105px;
  inline-size: 399px;
  justify-content: space-between;
}

.content__video-card-description-container { 
  max-inline-size: 200px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  visibility: hidden;
}

.content__video-card-description:before {
  visibility: visible;
  display: inline-block;
  content: "Вот, что видит кто-то из команды Практикума, когда не смотрит на код, а смотрит в окно.";
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
  padding-top: 5px;
}

.content__video-card-thumbnail {
  block-size: 104px;
  inline-size: 194px;
  align-items: flex-start;
  object-fit: cover;
  object-position: center;
  background: #545050;
  justify-self: end;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}