*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1140px;
  block-size: 534px;
  box-sizing: border-box;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  padding-top: 274px;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  display: flex;
  flex-direction: row;
  /*box-sizing: border-box;*/
  inline-size: 100%;
  
  /*padding: 133px 30px;*/
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  

}

.result{  /*левая часть*/
  display: flex;
  flex-direction: column;
  /*width: 200%;*/
  
  /*flex: 150;*/
  row-gap: 22px;
}

.result__video-container{
  position: relative;
  box-sizing: border-box;
  width: 711px;
  height: 458px;
  object-fit: cover;
  object-position: center;
  display: flex;
  padding-top: 75px;
  
}
.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  
}




.search-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  
}

.search-form__fieldset{
  border: none;
  /*gap: 20px;*/
  block-size: 50px;
}

.search-form__fieldset-title{
  /*box-sizing: border-box;*/
  color: #FFF;

  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1px;
}

.search-form__label{
  width: fit-content;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  
}

.search-form__label:hover > .search-form__label-text {
  border-bottom: solid white 1px;
}

.search-form__textfield{
  cursor: text;
  appearance: none;
  inline-size: 224px;
  height: 27px;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /*color: #fff;*/  
  color: rgba(255, 255, 255, 0.70);

  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.search-form__textfield:focus {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}     


.search-form__checkbox{
  /*cursor: pointer;*/
}

.search-form__checkbox-list{
  display: flex;
  flex-direction: row;
  gap: 14px; 
  
}     

.search-form__pseudo-checkbox{

  /*новый красивый чекбокс*/
  display: flex;
  flex-direction: row;
  /*gap: 20px; */
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid white;
  padding: 1px;
  margin-inline-end: 5px;
  /*padding: 7px;*/
  
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  block-size: 15px;
  inline-size: 15px;
  background-color: white;
  justify-content: center;
  align-items: center;
  
}


.button{
  cursor: pointer;
  background-color: transparent;
  color: white;
  /*text-align: center;*/
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  /*line-height: normal;*/
  border: 1px solid ;
  

}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 35px;
}


.more-button{
  inline-size: 399px;
  block-size: 34px;
  justify-content: center;
  align-items: center;
}

.title{
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

}


/*правая сторона*/
.content__details{
  
  block-size: 534px;
  inline-size: 399px;
  /*align-items: stretch;*/
  /*flex: 0;*/
  /*row-gap: 30px;*/
}

.content__accent{
  color: #545050;

  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase;

}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  block-size: 318px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}



.content__list-item{
 
  row-gap: 30px;
}


.content__card-link{
  text-decoration: none; 
  color: #fff;
}


.content__list-item:not(:last-child) {
  margin-block-end: 8px;
}



.content__video-card{
  display: flex;
  align-items: flex-start;
  block-size: 103px;
  inline-size: 399px;
  justify-content: space-between;
}



.content__video-card-description-container{
  max-inline-size: 200px;
  
}

.content__video-card-title{
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description{
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */

}

.content__video-card-thumbnail{
  block-size: 104px;
  inline-size: 194px;
  /*padding: 2px;*/
  align-items: flex-start;
  object-fit: cover;
  object-position: center;
  background: #545050;
  justify-self: end;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}